<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Travel Lovers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Link Bulma CSS -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
  </head>

  <body>
    <div class='wrapper'>
      <header>
        <h1>
          Travel Lovers
        </h1>
        <nav>
          <a href='/'>Homepage</a>
          <a href='/login'>Login</a>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

  </body>

</html>