<html lang='en'>

<<<<<<< HEAD
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel=App</title>
  {{!-- <link rel="stylesheet" href="/stylesheets/style.css"> --}}
  {{!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css"> --}}
</head>
=======
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Travel Lovers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Link Bulma CSS -->
    <link
      rel='stylesheet'
      href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css'
    />
  </head>
>>>>>>> ce0bafd041a107cc2537382301d7964b1b031914

  <body>
    <header class='is-flex is-flex-direction-row'>
      <nav class='is-justify-content-space-evenly'>
        <h1>
          Travel Lovers
        </h1>
        <button class='btn-homepage'><a href='/'>Homepage</a></button>
        {{#if loggedIn}}
          <button id='logout' class='btn-logout'>Logout</button>
          <div id='error-message'></div>
        {{else}}
          <button class='btn-login'><a href='/login'>Login</a></button>
          <div id='error-message'></div>
        {{/if}}
      </nav>
    </header>
    <main class='wrapper is-flex is-flex-direction-column'>
      {{{body}}}
    </main>
    <footer class='footer'>
      <div class='content has-text-centered'>
        Thanks for visiting!
      </div>
    </footer>
<<<<<<< HEAD
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
  <script src="/javascript/datepicker.js"></script>
</body>
=======

    {{#if loggedIn}}
      <script src='/javascript/logout.js'></script>
    {{/if}}
  </body>
>>>>>>> ce0bafd041a107cc2537382301d7964b1b031914

</html>