/* HOMEPAGE STYLES */
@use 'style'

$assetPath: "/assets/images"

main
    background: url(#{$assetPath}/homepage.jpg)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    min-width: 100%