/* LOGIN STYLES */
@use 'style'

// Image folder path
$assetPath: "/assets/images"

html
  margin: 0 auto
  background: url(#{$assetPath}/airplane-taking-off.jpg)
  background-postition: center
  background-repeat: no-repeat
  background-size: cover


