/* LOGIN STYLES */
@use 'style'

// Image folder path
$assetPath: "/assets/images"

// Colors
$purple: #0000cc

main
  margin: 0 auto
  background: url(#{$assetPath}/airplane-taking-off.jpg)
  background-postition: center
  background-repeat: no-repeat
  background-size: cover
  min-width: 100%
  opacity: 0.8

label
  color: $purple
  




