<head>
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>
<div>
  <a href="/dashboard/bucketlist/new"><i class='icon-plus pr-2'></i> New Post</a>
</div>
<div class="posts list-group">
    {{#each bucketlist_posts}}
  <a class="list-item flex-row justify-space-between" href="/dashboard/bucketlist/edit/{{posts.id}}">
    <span>{{title}}</span>
    <span>{{author}}</span>
    <div>{{body}}</div>
  </a>
  {{/each}}
</div>