<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>bulma cards</title>
        <link rel='stylesheet' href='https://unpkg.com/bulma@0.9.0/css/bulma.min.css'>
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    </head>
    <body>
    <section class="container">
        <div class="level-item">
        <div class="columns is-multiline is-centered cards-container" id="sectioncontainer">
    
    {{!-- Card 1 --}}
    <div class="column is-wide">
        <article class="message is-black">
            <div class="message-header">
                <p>Bucketlist</p>
            </div>
            <div class="message-body">
                <input placeholder="City" type="text" id="candidate"/>
                    <br>
                <input placeholder="Date" type="text" id="datepicker">
                    <br>
                    <br>
                <div id="btnSection">
                    <button id="button-1" onclick="addItem()">Add</button>
                    <button id="button-2" onclick="removeItem()">Remove</button>
                </div>
                <div>
                    <ul id="dynamic-list"></ul>
                </div>
            </div>
        </article>
    </div>
    
    {{!-- Card 2 --}}
    <div class="column is-wide">
        <article class="message is-primary">
            <div class="message-header">
                <p>Visiting</p>
            </div>
            <div class="message-body">
                <input placeholder="City" type="text" id="candidate1"/>
                <br>
                <input placeholder="Date" type="text" id="datepicker1">
                <br>
                <br>
                <div>
                  <button onclick="addItem1()">Add</button>
                  <button onclick="removeItem1()">Remove</button>
                </div>
            
                <ul id="dynamic-list1"></ul>
            </div>
        </article>
            </div>
        
    {{!-- Card 3 --}}
    <div class="column is-wide">
        <article class="message is-link">
            <div class="message-header">
                <p>Visited</p>
            </div>
            <div class="message-body">
                <input placeholder="City" type="text" id="candidate2"/>
                <br>
                <input placeholder="Date" type="text" id="datepicker2">
                <br>
                <br>
                <button onclick="addItem2()">Add</button>
                <button onclick="removeItem2()">Remove</button>
            <div>
                <ul id="dynamic-list2"></ul>
            </div>
        </article>
    </div>
    </div>
</section>


<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src='./javascript/dashboard.js'></script>
<script src='./javascript/datepicker.js'></script>

</body>
</html>
