<div class="container">
    <div class="board">
        <div class="block" id="bucketlist">
          <a href="/bucketlist/">Bucketlist</a>
        </div>
        <div class="block" id="visiting">
          <a href="/visiting/">Visiting</a>
        </div>
        <div class="block" id="visited">
          <a href="/visited/">Visited</a>
        </div>
        <div class="block" id="dashboard">
            <a href="/dashboard/">dashboard</a>
        </div>


  
