<head>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<!--LOGIN FORM -->
<br />
<form class='login-form pt-3 pl-6'>
  <div>
    <label for='email-login' class="is-size-6-mobile">Email:</label>
    <br />
    <input
      type='text'
      id='email-login'
      placeholder='janedoe@email.com'
      autofocus='true'
    />
  </div>
  <div>
    <label for='password-login' class="is-size-6-mobile">Password:</label>
    <br />
    <input type='password' id='password-login' placeholder='YourPassword' />
    <br>
  </div>
  <br />
  <div>
    <button class='button btn-login class="is-size-6-mobile"' type='submit'><i
        class='icon-unlock icon-large pr-2'
      ></i>Login</button>
  </div>
  <br />
</form>

<!--SIGNUP FORM -->
<form class='signup-form pl-6'>
  <div>
    <label for='username-signup' class="is-size-6-mobile">Username:</label>
    <br>
    <input type='text' id='username-signup' placeholder='janedoe' />
    <br />
  </div>
  <div>
    <label for='email-signup' class="is-size-6-mobile">Email:</label>
    <br>
    <input type='text' id='email-signup' placeholder='janedoe@gmail.com' />
    <br />
  </div>
  <div>
    <label for='password-signup' class="is-size-6-mobile">Password:</label>
    <br>
    <input type='password' id='password-signup' placeholder='YourPassword' />
    <br />
  </div>
  <div>
    <br />
    <button class='button btn-login' type='submit'><i
        class='icon-pencil icon-large pr-2'
      ></i>Signup</button>
  </div>
</form>
<br />

<!-- Add public/javascript pages -->
<script src='javascript/login.js'></script>