<head>
  <link rel='stylesheet' href='/stylesheets/login.css' />
</head>

<!--LOGIN FORM -->
<br />
<form class='login-form'>
  <div>
    <label for='email-login'>Email:</label>
    <br />
    <input
      type='text'
      id='email-login'
      placeholder='janedoe@email.com'
      autofocus='true'
    />
  </div>
  <div>
    <label for='password-login'>Password:</label>
    <br />
    <input type='password' id='password-login' placeholder='YourPassword' />
  </div>
  <br />
  <div>
    <button class='btn-login' type='submit'>Login</button>
  </div>
  <br />
  <br />
</form>

<!--SIGNUP FORM -->
<form class='signup-form'>
  <div>
    <label for='username-signup'>Username:</label>
    <br />
    <input type='text' id='username-signup' placeholder='janedoe' />
  </div>
  <div>
    <label for='email-signup'>Email:</label>
    <br />
    <input type='text' id='email-signup' placeholder='janedoe@gmail.com' />
  </div>
  <div>
    <label for='password-signup'>Password:</label>
    <br />
    <input type='password' id='password-signup' placeholder='YourPassword' />
  </div>
  <br />
  <div>
    <button class='btn-login' type='submit'>Signup</button>
  </div>
</form>
<br />

<!-- Add public/javascript pages -->
<script src='javascript/login.js'></script>